<div class="container mx-auto flex flex-col p-6">
  <div class="grid grid-cols-3 gap-4">
    <div *ngFor="let customer of customers" class="flex flex-col rounded-lg shadow-lg bg-white">
      <app-customer-initials [customer]="customer"></app-customer-initials> 
      <app-account [account]="accountForCustomer(customer)" (amountChange)="onAmountChange($event)"></app-account>
      <div class="flex flex-col bg-gray-100 rounded-b-lg">
        <div class="mx-auto">
          <h2 class="my-4 text-xl text-center">{{ customer?.name }}</h2>
          <div class="grid grid-cols-2 my-4">
            <div class="italic  text-gray-600">street</div>
            <div>{{ customer?.address?.street1 }}</div>
            <div class="italic  text-gray-600">city</div>
            <div>{{ customer?.address?.city }}</div>
            <div class="italic  text-gray-600">state</div>
            <!-- todo: fix typo in embedded template -->
            <div>{{ customer?.address?.state }}</div>
            <div class="italic  text-gray-600">zip</div>
            <!-- todo: fix typo in embedded template -->
            <div>{{ customer?.address?.zip }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>